.button {
  padding: 0.75rem 1rem;
  cursor: pointer;
}
.activeButton {
  background-color: #00adb5;
  color: black;
  border-radius: 0.5rem;
  transition: 1s;
}

.activeButton:hover {
  color: black !important;
  transition: 1s;
}

.button:hover {
  color: #00adb5;
  transition: 1s;
}

.textColored {
  color: #00adb5;
  padding-right: 0.5rem;
}

.border {
  border: solid;
  border-radius: 0.4rem;
  color: #00adb5;
}
