.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.listButtons {
  padding-bottom: 1rem;
}

.listButton:hover {
  background-color: #00484c;
}

.bullets {
  padding: 0 1rem;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.bullets > ul {
  margin: 0;
  padding: 0;
}

.bulletTitle {
  padding-bottom: 0.5rem;
}

@media (max-width: 1000px) {
  .navList {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    border-bottom: 0.1rem solid #37adb5;
  }

  .list {
    font-size: 0.65rem;
  }

  .bullets {
    padding: 1rem 0;
  }

  .listButtons {
    border: none;
    align-items: center;
  }

  .list {
    flex-direction: column;
  }
}

.title {
  padding: 0;
  margin: 0;
}

.date {
  padding: 0;
  margin: 0.3rem 0;
}

.listStyle {
  list-style: none;
  padding: 0 0.3rem;
}

.listStyle li {
  padding: 0.2rem 0;
}

.skillHeader {
  font-weight: bold;
  padding-bottom: 0.2rem;
}

.skillHeader :hover {
  border-bottom: 0.1rem solid #37adb5;  
}
