.title {
  display: flex;
  justify-content: space-around;
}

.horizontalLine {
  display: block;
  width: 20rem;
  height: 1px;
  margin: 0px auto;
  align-self: center;
  margin-left: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10rem;
}
