.bgContainer {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10rem;
  height: 100%;
}

.bgDarkBlue {
  background-color: #393e46;
}

.bgRed {
  background-color: #222831;
}

@media (max-width: 1000px) {
  .content {
    padding: 5rem 3.5rem;
  }
  .content h1 {
    font-size: 2rem;
  }
}
