.drawerButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: flex-end;
}

.drawer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.drawerItem {
  padding: 0.75rem 0;
}

@media (min-width: 1000px) {
  .drawer {
    display: none;
  }
}
